/* 임의의 영역 생성 */
.scrollBar { 
  white-space: nowrap;
  overflow-x: scroll;
  margin-left: 10px;
  margin-right: 10px;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.scrollBar::-webkit-scrollbar {
    height: 10px;  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 10px; /* 스크롤바의 길이 */
    background: #eeeeee; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: #777777;  /*스크롤바 뒷 배경 색상*/
}