/* video {
    width: 100%;
    height: auto;
    float: left;
    cursor: pointer;
}
.streamcomponent div {
    position: absolute;
    background: #f8f8f8;
    padding-left: 5px;
    padding-right: 5px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
}
p{
    margin: 0;
} */

video {
    width: auto;
    height: 600px;
    float: left;
    margin-left: calc(-380px + 50%);
}

.streamcomponent{
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.streamcomponent div {
    position: absolute;
    background: #F6C026;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    color: #f8f8f8;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;


    display: flex;
    justify-content: center;
    align-items: center;

    /* 위치 이동 */
    margin-top: 540px;
    margin-left: 30px;
}

p{
    margin: 0;
    /* 드래그 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}



